<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>create blog Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    
</head>

<body>
    <div class="jumbotron">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <div ng-view></div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.angularjs.org/1.6.0/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.0/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.6.0/angular-cookies.min.js"></script>

    <script src="app.js"></script>
    <script src="app-services/authentication.service.js"></script>
    <script src="app-services/flash.service.js"></script>

<div>
      <div ng-show="currentUser==''">
           <div class="alert alert-danger fade in">
		        <div>
				    You are not logged in.. Please Login <a href="#/login"> here </a>
				</div>
				
				<div>
				    If you are not registered, you can register <a href="#/register"> here </a>
				</div>
		   
		   </div>
	  </div>
	  
	  <div ng-hide="currentUser==''">
	       <div class="generic-container">
		        <form ng-submit="vm.blogSubmit()" name="myBlogForm" id="myBlogForm" class="form-horizontal" role="form">
				      <label>Please fill the blog details..</label>
					  
					  <div class="row">
					       <div class="form-group col-md-12">
						   <label class="col-md-12 control-lable" for="blogTitle">Title</label>
						      <div class="col-md-7">
						        <input type="text" ng-model="vm.blog.blogTitle" id="blogTitle"
								   class="title form-control input-sm"
								   placeholder="Enter Blog Title"
								   required ng-minlength="5" />
						      </div>
						   </div>
					  </div>
					  
					  <div class="row">
						<div class="form-group col-md-12">
						<label class="col-md-12 control-lable" for="blogContent">Content:</label>
		     				<div class="col-md-7">
								<textarea rows="20" cols="100" form="myBlogForm"
										ng-model="vm.blog.blogContent"
 										id="blogContent" class="form-control input-sm"
										placeholder="Enter Blog's Content" required 
										ng-minlength="50" ng-maxlength="500">
								</textarea>  
							</div>
						</div>
					</div>
					  
					  <div class="row">
					       <div class="form-actions floatRight">
						       <input type="submit" value="Create Blog" class="btn btn-primary btn-sm" />
							   <button type="button" ng-click="vm.blogReset()"
                                      class="btn btn-warning btn-sm">Reset Blog</button>
						   </div>
					  </div>
				</form>	  
		   </div>	  
	  </div>
</div>